services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7007:7007"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:7007
    restart: unless-stopped
